<!DOCTYPE html>
<html lang="en"
      xlmns:th="http://www.thymeleaf.org"
      xmlns:xlmns="http://www.w3.org/1999/xhtml"
>
<head>
    <title>Cập nhật thông tin người dùng - VMHShop Admin</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/assets/fe/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/assets/fe/font-awesome/4.2.0/css/font-awesome.min.css}" />
    <link rel="stylesheet" th:href="@{/assets/fe/css/ace.min.css}" />
    <link rel="stylesheet" th:href="@{/assets/fe/css/ace-skins.min.css}" />
    <link rel="stylesheet" th:href="@{/assets/fe/css/ace-rtl.min.css}" />
</head>

<body class="no-skin">
<div th:replace="/admin/fragments/navbar :: navbar"></div>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>
    <div th:replace="/admin/fragments/sidebar :: sidebar"></div>

    <div class="main-content">
        <div class="main-content-inner">
            <div class="page-content">


                <div class="page-header">
                    <h1>
                        Người dùng
                    </h1>
                </div><!-- /.page-header -->

                <div class="container mt-4">
                    <div class="card">
                        <div class="card-body">
                            <form role="form" method="post" th:action="@{/admin/update-user}" th:object="${user}" >
                                <input type="hidden" class="form-control" th:field="*{id}">
                                <input type="hidden" class="form-control" th:field="*{password}">
                                <div class="box-body">
                                    <div class="form-group">
                                        <label for="username">Tên người dùng</label>
                                        <input type="text" class="form-control" id="username"
                                               placeholder="Input username" th:field="*{userName}">
                                    </div>
                                    <div class="form-group">
                                        <label for="fullname">Tên đầy đủ</label>
                                        <input type="text" class="form-control" id="fullname"
                                               placeholder="Input fullname" th:field="*{fullname}">
                                    </div>
                                    <div class="form-group">
                                        <label for="address">Địa chỉ</label>
                                       <input type="text" class="form-control" id="address"
                                               placeholder="Input fullname" th:field="*{address}">
                                    </div>
                                    <div class="form-group">
                                        <label for="phone">Số điện thoại</label>
                                        <input type="tel" class="form-control" id="phone"
                                               placeholder="Input phonenumber" th:field="*{phone}">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email" class="form-control" id="email" th:field="*{email}">
                                    </div>
                                    <div class="form-group">
                                            <label for="enable">Trạng thái</label>
                                            <select class="form-control" id="enable" th:field="*{enable}">
                                                <option th:value="true">True</option>
                                                <option th:value="false">False</option>
                                            </select>
                                    </div>
                                    <div class="box-footer">
                                        <button type="submit" class="btn btn-primary">Câp nhật</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->

    <div class="footer">
        <div class="footer-inner">
            <div class="footer-content">
						<span class="bigger-120">
							<span class="blue bolder">VMH</span>
							Shop &copy; 2025
						</span>
                <span class="action-buttons">
							<a href="#">
								<i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-rss-square orange bigger-150"></i>
							</a>
						</span>
            </div>
        </div>
    </div>

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->
<script th:src="@{/assets/fe/js/jquery.2.1.1.min.js}"></script>
<script th:src="@{/assets/fe/js/jquery.1.11.1.min.js}"></script>
<script type="text/javascript">
    window.jQuery || document.write("<script th:src='@{/assets/fe/js/jquery.min.js}'>"+"<"+"/script>");
</script>
<script type="text/javascript">
    window.jQuery || document.write("<script th:src='@{/assets/fe/js/jquery1x.min.js}'>"+"<"+"/script>");
</script>
<script type="text/javascript">
    if('ontouchstart' in document.documentElement) document.write("<script th:src='@{/assets/fe/js/jquery.mobile.custom.min.js}'>"+"<"+"/script>");
</script>
<script th:src="@{/assets/fe/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/fe/js/bootstrap-datepicker.min.js}"></script>
<script th:src="@{/assets/fe/js/jquery.jqGrid.min.js}"></script>
<script th:src="@{/assets/fe/js/grid.locale-en.js}"></script>
<script th:src="@{/assets/fe/js/ace-elements.min.js}"></script>
<script th:src="@{/assets/fe/js/ace.min.js}"></script>

</body>
</html>
