<!DOCTYPE html>
<html lang="en"
      xlmns:th="http://www.thymeleaf.org"
      xmlns:xlmns="http://www.w3.org/1999/xhtml"
>
<head>
    <title>Cập nhật danh mục - VMHShop Admin</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/assets/fe/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/assets/fe/font-awesome/4.2.0/css/font-awesome.min.css}" />
    <link rel="stylesheet" th:href="@{/assets/fe/css/ace.min.css}" />
    <link rel="stylesheet" th:href="@{/assets/fe/css/ace-skins.min.css}" />
    <link rel="stylesheet" th:href="@{/assets/fe/css/ace-rtl.min.css}" />
</head>

<body class="no-skin">
<div th:replace="/admin/fragments/navbar :: navbar"></div>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>
    <div th:replace="/admin/fragments/sidebar :: sidebar"></div>

    <div class="main-content">
        <div class="main-content-inner">
            <div class="page-content">
                <div class="page-header">
                    <h1>
                        Danh mục
                    </h1>
                </div><!-- /.page-header -->

                <div class="container mt-4">
                    <div class="card">
                        <div class="card-header">
                            <b>Cập nhật danh mục</b>
                        </div>
                        <div class="card-body">
                            <form role="form" method="post" th:action="@{/admin/update-category}" th:object="${category}">
                                <input type="hidden" class="form-control" th:field="*{id}">
                                <div class="box-body">
                                    <div class="form-group">
                                        <label for="categoryNameInput">Category Name</label>
                                        <input type="text" class="form-control" id="categoryNameInput"
                                               placeholder="Category Name" th:field="*{categoryname}">
                                    </div>
                                    <div class="form-group">
                                        <label>Category Status</label>
                                        <div class="form-group">
                                            <div class="form-check form-check-inline">
                                                <input type="radio" id="inlineRadio1" class="form-check-input"
                                                       th:field="*{categorystatus}" th:value="true"/>
                                                <label class="form-check-label" for="inlineRadio1">Active</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input type="radio" id="inlineRadio2" class="form-check-input"
                                                       th:field="*{categorystatus}" th:value="false"/>
                                                <label class="form-check-label" for="inlineRadio2">Hidden</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-footer">
                                        <button type="submit" class="btn btn-primary">Cập nhật</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->

    <div class="footer">
        <div class="footer-inner">
            <div class="footer-content">
						<span class="bigger-120">
							<span class="blue bolder">VMH</span>
							Shop &copy; 2025
						</span>
                <span class="action-buttons">
							<a href="#">
								<i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-rss-square orange bigger-150"></i>
							</a>
						</span>
            </div>
        </div>
    </div>

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->
<script th:src="@{/assets/fe/js/jquery.2.1.1.min.js}"></script>
<script th:src="@{/assets/fe/js/jquery.1.11.1.min.js}"></script>
<script type="text/javascript">
    window.jQuery || document.write("<script th:src='@{/assets/fe/js/jquery.min.js}'>"+"<"+"/script>");
</script>
<script type="text/javascript">
    window.jQuery || document.write("<script th:src='@{/assets/fe/js/jquery1x.min.js}'>"+"<"+"/script>");
</script>
<script type="text/javascript">
    if('ontouchstart' in document.documentElement) document.write("<script th:src='@{/assets/fe/js/jquery.mobile.custom.min.js}'>"+"<"+"/script>");
</script>
<script th:src="@{/assets/fe/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/fe/js/bootstrap-datepicker.min.js}"></script>
<script th:src="@{/assets/fe/js/jquery.jqGrid.min.js}"></script>
<script th:src="@{/assets/fe/js/grid.locale-en.js}"></script>
<script th:src="@{/assets/fe/js/ace-elements.min.js}"></script>
<script th:src="@{/assets/fe/js/ace.min.js}"></script>
</body>
</html>
