<!doctype html>
<html lang="en" xlmns:th="http://www.thymeleaf.org" xmlns:xlmns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Upload file</title>
</head>
<body>
        <form method="post" enctype="multipart/form-data" action="/upload-file">
            <table>
                <tr>
                    <td>File too upload: </td>
                    <td><input type="file" name="file" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Upload" /></td>
                </tr>
            </table>

        </form>
</body>
</html>