<!DOCTYPE html>
<html lang="en"
      xlmns:th="http://www.thymeleaf.org"
      xmlns:xlmns="http://www.w3.org/1999/xhtml"
>
<head>
    <title>Cập nhật sản phẩm - VMHShop Admin</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/assets/fe/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/assets/fe/font-awesome/4.2.0/css/font-awesome.min.css}" />
    <link rel="stylesheet" th:href="@{/assets/fe/css/ace.min.css}" />
    <link rel="stylesheet" th:href="@{/assets/fe/css/ace-skins.min.css}" />
    <link rel="stylesheet" th:href="@{/assets/fe/css/ace-rtl.min.css}" />
</head>

<body class="no-skin">
<div th:replace="/admin/fragments/navbar :: navbar"></div>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>
    <div th:replace="/admin/fragments/sidebar :: sidebar"></div>

    <div class="main-content">
        <div class="main-content-inner">
            <div class="page-content">

                <div class="page-header">
                    <h1>
                        Sản phẩm
                    </h1>
                </div><!-- /.page-header -->

                <div class="container mt-4">
                    <div class="card">
                        <div class="card-header">
                            <b>Cập nhật sản phẩm</b>
                        </div>
                        <div class="card-body">
                            <form role="form" method="post" th:action="@{/admin/update-product}" th:object="${product}" enctype="multipart/form-data">
                                <input type="hidden" class="form-control" th:field="*{productid}">
                                <div class="box-body">
                                    <div class="form-group">
                                        <label for="productNameInput">Tên sản phẩm</label>
                                        <input type="text" class="form-control" id="productNameInput"
                                               placeholder="Nhập tên sản phẩm" th:field="*{productname}">
                                    </div>
                                    <div class="form-group">
                                        <label for="productPriceInput">Giá</label>
                                        <input type="text" class="form-control" id="productPriceInput"
                                               placeholder="Nhập giá sản phẩm" th:field="*{price}">
                                    </div>
                                    <div class="form-group">
                                        <label for="productColorInput">Màu</label>
                                        <select type="text" class="form-control" id="productColorInput"
                                                th:field="*{color}">
                                            <option value="blue">blue</option>
                                            <option value="black">black</option>
                                            <option value="white">white</option>
                                            <option value="green">green</option>
                                            <option value="red">red</option>
                                            <option value="yellow">yellow</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="productSizeInput">Cỡ</label>
                                        <select type="text" class="form-control" id="productSizeInput"
                                                th:field="*{size}">
                                            <option value="36">36</option>
                                            <option value="37">37</option>
                                            <option value="38">38</option>
                                            <option value="39">39</option>
                                            <option value="40">40</option>
                                            <option value="41">41</option>
                                            <option value="42">42</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="productImage">Hình ảnh</label>
                                        <input type="file" class="form-control" id="productImage" name="fileImage">
                                    </div>
                                    <div class="form-group">
                                        <label for="productQuanlity">Số lượng</label>
                                        <input type="number" class="form-control" id="productQuanlity" name="Quanlity" th:field="*{quanlity}">
                                    </div>
                                    <div class="form-group">
                                        <label >Danh mục</label>
                                        <select class="form-control select2 select2-hidden-accessible" th:field="*{category.id}">
                                            <option th:each="category : ${listCate}" th:value="${category.id}" th:text="${category.categoryname}"></option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="description">Mô tả </label>
                                        <textarea name="description" id="description" rows="3" cols="80" th:field="*{description}"
                                                  class="form-control" placeholder="Nhập mô tả sản phẩm"></textarea>
                                    </div>
                                    <div class="box-footer">
                                        <button type="submit" class="btn btn-primary">Update</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->

    <div class="footer">
        <div class="footer-inner">
            <div class="footer-content">
						<span class="bigger-120">
							<span class="blue bolder">VMH</span>
							Shop &copy; 2025
						</span>
                <span class="action-buttons">
							<a href="#">
								<i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-rss-square orange bigger-150"></i>
							</a>
						</span>
            </div>
        </div>
    </div>

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->
<script th:src="@{/assets/fe/js/jquery.2.1.1.min.js}"></script>
<script th:src="@{/assets/fe/js/jquery.1.11.1.min.js}"></script>
<script type="text/javascript">
    window.jQuery || document.write("<script th:src='@{/assets/fe/js/jquery.min.js}'>"+"<"+"/script>");
</script>
<script type="text/javascript">
    window.jQuery || document.write("<script th:src='@{/assets/fe/js/jquery1x.min.js}'>"+"<"+"/script>");
</script>
<script type="text/javascript">
    if('ontouchstart' in document.documentElement) document.write("<script th:src='@{/assets/fe/js/jquery.mobile.custom.min.js}'>"+"<"+"/script>");
</script>
<script th:src="@{/assets/fe/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/fe/js/bootstrap-datepicker.min.js}"></script>
<script th:src="@{/assets/fe/js/jquery.jqGrid.min.js}"></script>
<script th:src="@{/assets/fe/js/grid.locale-en.js}"></script>
<script th:src="@{/assets/fe/js/ace-elements.min.js}"></script>
<script th:src="@{/assets/fe/js/ace.min.js}"></script>

</body>
</html>
