<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>VMHShop - Danh sách đơn hàng</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{assets/fe/img/favicon.ico}">
    <link rel="stylesheet" th:href="@{assets/fe/css/plugins.css}">
    <link rel="stylesheet" th:href="@{assets/fe/css/style.css}">

</head>

<body>
<!--header area start-->
<header th:replace="/web/fragments/header_area :: header"></header>
<!--header area end-->

<!--Offcanvas menu area start-->
<div th:replace="/web/fragments/menu :: menu"></div>

<!--breadcrumbs area start-->
    <div class="breadcrumbs_area">
        <div class="container">   
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="/product">home</a></li>
                            <li>Checkout</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>         
    </div>

    <div class="Checkout_section mt-60">
       <div class="container">
            <div class="checkout_form">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <form action="/info" th:object="${user}" method="post" role="form">
                            <h3>Thông tin của bạn</h3>
                            <div class="row">
                                <div class="col-lg-6 mb-20">
                                    <input type="hidden" th:field="*{id}">
                                    <label>Full Name <span>*</span></label>
                                    <input type="text" th:field="*{fullname}">
                                </div>
                                <div class="col-12 mb-20">
                                    <label>Địa chỉ<span>*</span></label>
                                    <input placeholder="Địa chỉ của bạn" type="text" th:field="*{address}">
                                </div>
                                <div class="col-lg-6 mb-20">
                                    <label>Số điện thoại<span>*</span></label>
                                    <input type="tel" th:field="*{phone}">
                                </div> 
                                 <div class="col-lg-6 mb-20">
                                    <label>Địa chỉ email<span>*</span></label>
                                      <input type="email" th:field="*{email}">
                                </div>
                            </div>
                            <button type="submit" >Lưu thông tin</button>
                        </form>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <form action="/checkout" method="post" role="form">
                            <h3>Đơn hàng của bạn</h3>
                            <input type="hidden" th:value="${cart.id}" name="cartId">
                            <div class="order_table table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Sản phẩm</th>
                                            <th>Giá</th>
                                            <th>Số lượng</th>
                                            <th>Tổng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="cartItem:${cart.getItems()}">
                                            <td th:text="${cartItem.product.productname}"></td>
                                            <td th:text="${cartItem.price}"></td>
                                            <td th:text="${cartItem.quanlity}"></td>
                                            <td th:text="${cartItem.totalprice}"></td>
                                        </tr>
                                    </tbody>
                                    <tfoot th:object="${cart}">
                                        <tr>
                                            <th>Cart Subtotal</th>
                                            <td></td>
                                            <td></td>
                                            <td th:text="${cart.getTotalprice()}"></td>
                                        </tr>
                                        <tr>
                                            <th>Shipping</th>
                                            <td></td>
                                            <td></td>
                                            <td>5</td>
                                        </tr>
                                        <tr class="order_total">
                                            <th>Order Total</th>
                                            <td></td>
                                            <td></td>
                                            <td><strong th:text="${cart.getTotalprice()}+5"></strong></td>
                                        </tr>
                                    </tfoot>
                                </table>     
                            </div>
                            <h3>Lựa chọn voucher của bạn</h3>
                                <select class="form-control" id="voucherSelect" name="userVoucherId" style="margin-bottom:1em;appearance:auto;">
                                    <option th:each="userVoucher : ${userVouchers}"
                                            th:value="${userVoucher.id}"
                                            th:text="${userVoucher.voucher.code + ' - ' + userVoucher.voucher.description}">
                                    </option>
                                </select>
                            <button type="submit" >Thanh toán</button>
                        </form>
                    </div>
                </div> 
            </div> 
        </div>       
    </div>

<div th:replace="/web/fragments/footer :: footer"></div>
<script th:src="@{assets/fe/js/plugins.js}"></script>
<script th:src="@{assets/fe/js/main.js}"></script>



</body>

</html>